@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Locomotive Scroll */

 /* Loader */
 .spinner {
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loaderWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  white-space: nowrap;
}

[data-scroll-container] {
  width: 100%;
  will-change: transform;
}

@layer utilities {
  body {
    @apply font-poppins bg-black;
  }
  section {
    @apply py-[100px];
    @media (max-width: 1024px) {
      @apply py-[60px];
    }
  }
  .container {
    @apply mx-auto px-5;
    max-width: 1366px;
    @media (max-width: 1199px) {
      max-width: 100%;
    }
  }

  .heading {
    h2 {
      @apply xl:text-6xl md:text-5xl text-3xl font-semibold;
      line-height: 1.3;
    }
    p {
      @apply xl:text-2xl md:text-xl text-black/70 xl:w-[550px] md:w-[450px] mx-auto;
    }
  }

  .link {
    @apply font-medium capitalize hover:text-cyan duration-700 transition-all text-white/50;
  }
  .btn {
    @apply inline-block font-medium text-sm md:text-[18px] rounded-[40px] md:py-4 md:px-8 py-3 px-8 capitalize tracking-wide border transition-all duration-700;
    &-primary {
      @apply bg-cyan text-white border-transparent hover:border-white hover:text-white hover:bg-transparent;
      &.sm-space {
        @apply md:rounded-[20px] px-6 py-2 rounded-[40px];
      }
    }
    &-secondary {
      @apply bg-transparent border-white text-white hover:bg-cyan hover:border-cyan;
    }
  }
}

@layer components {
  /* Header Component Classes Starts */
  header {
    @apply bg-black md:py-8 py-5;
    .brandLogo {
      @apply md:w-2/12 w-4/12 md:ml-0 mr-auto;
    }
    nav {
      @apply md:w-8/12 md:opacity-100 justify-center z-[99] md:visible hidden opacity-0 w-full md:relative md:inset-0 absolute top-[82px] bg-black md:flex-row flex-col md:p-0 px-[40px] pt-3 py-5 transition-all duration-500 ease-out;
      display: flex !important;
      @media (max-width: 767px) {
        &.active {
          @apply opacity-100 visible flex;
        }
      }
      ul {
        @apply flex justify-center lg:space-x-10 md:space-x-5 md:flex-row flex-col md:space-y-0 space-y-3;
      }
    }
    .hamburger {
      @apply flex flex-col items-center  justify-center p-2 ml-3;
      &.active {
        div {
          transition: 0.5s ease all;
          position: relative;
          &:first-child {
            transform: rotate(-45deg);
            top: 10px;
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:last-child {
            transform: rotate(45deg);
            top: -6px;
          }
        }
      }
    }
  }
  /* Header Component Classes Ends */

  /* Banner Component Classes Starts */
  .banner {
    height: calc(100vh - 242px);
    @media (max-width: 1199px) or (max-height: 780px) {
      height: auto;
    }
    @apply py-[80px];
    .container {
      @apply h-full;
    }
    @apply py-[80px];
    &-wrap {
      @apply flex lg:flex-row flex-col lg:gap-0 gap-16 h-full items-center;
    }
    &-content,
    &-img {
      @apply lg:w-[50%] w-[100%];
    }
    &-content {
      h1 {
        @apply xl:text-7xl lg:text-6xl md:text-5xl text-4xl xl:leading-[1.3] lg:leading-[1.4] md:leading-[1.3] leading-[1.4] text-white font-semibold;
        i {
          @apply text-cyan;
        }
      }
      p {
        @apply xl:mt-10 md:mt-6 mt-3 md:text-xl text-[16px] lg:w-[83.333333%] w-full text-white/50;
      }
      .btnWrap {
        @apply md:flex-row  flex-col xl:mt-16 mt-8 md:gap-x-5 gap-3 flex;
      }
    }
    &-img {
      figure img {
        @apply ml-auto xl:w-auto lg:w-[80%] md:w-full;
      }
    }
  }
  /* Banner Component Classes Ends */

  /* Marquee Component Classes Starts */
  .heroSlider {
    @apply py-[40px] bg-black-semi;
    .oWrap {
      transition-timing-function: linear;
      .swiper-slide {
        @apply text-white text-center;
        img {
          @apply w-[75px] md:w-[160px] opacity-60;
        }
      }
    }
  }
  /* Marquee Component Classes Ends */

  /* Services Component Classes Starts */
  .services {
    @apply bg-white xl:py-[150px];
    .heading {
      h2 {
        @apply text-black xl:mb-12 md:mb-8 mb-6;
      }
    }
    .servicesCardWrapper {
      @apply flex lg:flex-row flex-col xl:gap-x-14 gap-8  xl:mt-[150px] md:mt-[80px] mt-[50px];
    }
    &-card {
      &:hover,
      &:nth-child(2) {
        @apply bg-black border-black cursor-pointer xl:-translate-y-[80px] md:-translate-y-[0px];
        box-shadow: 0px 10px 30px 0 #0000007a;
        .services-card__content {
          h3 {
            @apply text-white;
          }
          p {
            @apply text-white/50;
          }
        }
      }
      @apply xl:px-6 px-4 xl:py-12 py-8 rounded-[20px] border-2 border-[#ddd] lg:w-[33.33%] md:w-[100%] w-full text-center duration-300  transition-all;
      i {
        @apply text-center inline-block mb-8;
      }

      &__content {
        h3 {
          @apply font-semibold xl:mb-5 md:mb-3 xl:text-3xl md:text-2xl duration-300  transition-colors;
        }
        p {
          @apply xl:text-xl md:text-sm text-black/50 duration-300  transition-colors;
        }
      }
    }
  }
  /* Services Component Classes Ends */

  /* Support Component Classes Starts */
  .support {
    @apply bg-white;
    &-item {
      @apply mt-16 flex gap-x-3;
      &__title {
        @apply lg:gap-5 gap-3 flex flex-col lg:w-[60%] w-[100%] overflow-hidden;
        h3 {
          @apply border border-[#ddd] rounded-[60px] lg:p-9 py-[0.85rem] px-[1.25rem] pr-[50px] md:text-2xl text-[16px] font-semibold duration-300 transition-all relative;
          &:after {
            content: "-";
            @apply font-poppins pl-[1px] md:pl-[2px] pt-[3px] text-black-light font-normal absolute top-[50%] md:right-[30px] right-[20px] -translate-y-[50%] md:w-[30px] w-[20px] md:h-[30px] h-[20px] rounded-[50%] border border-black flex items-center justify-center;
          }
          &.active,
          &:hover {
            @apply bg-cyan text-white;
            &:after {
              content: "+";
              @apply text-[#ddd] border-[#ddd] md:pl-[1px] pl-[0px] pt-[2px];
            }
          }
          @media (max-width: 991px) {
            & + .mobileContent {
              @apply hidden;
            }
            &.active + .mobileContent {
              @apply block mt-[10px];
              
            }
          }
        }
      }
      &__content {
        @apply lg:w-[40%] w-full bg-black rounded-[30px] overflow-hidden lg:p-[30px] px-[15px] py-[20px];
        ul {
          @apply w-full;
          li {
            @apply py-[12px] md:px-[60px] md:pl-[60px] px-[20px] pl-[45px] bg-black-semi rounded-[40px] md:mb-5 mb-2 last:mb-0 text-white md:text-lg text-sm relative cursor-pointer transition-all duration-300;
            &:hover {
              @apply bg-black-light;
            }
            &:before {
              content: "";
              @apply absolute top-[50%] left-[25px] -translate-y-[50%] md:w-[20px] md:h-[20px] w-[10px] h-[10px] rounded-[50%] bg-white;
            }
          }
        }
      }
    }
  }
  /* Support Component Classes Ends */

  /* Pricing Component Classes Starts */
  .pricing {
    @apply bg-black;
    &-heading {
      @apply relative;
      h2 {
        @apply md:w-[75%] w-full md:p-0 px-4 mx-auto text-white text-center;
      }
      span {
        @apply absolute md:top-[50%] top-[100px];
        img {
          @apply leading-[0] xl:w-full md:w-[40px] w-[30px];
        }
        &.right-arrow {
          @apply right-0;
        }
        &.left-arrow {
          @apply left-0;
        }
      }
    }
    .pricing-list {
      @apply xl:mt-[200px] mt-[100px] flex gap-8 lg:flex-row flex-col;
      &-item {
        @apply duration-300 transition-all cursor-pointer;
        &:hover,
        &:nth-child(2) {
          @apply bg-cyan text-white;
          .pricing-list-item__heading strong {
            @apply text-white;
          }
          .pricing-list-item__content {
            ul li svg path {
              fill: #fff;
            }
            .btn {
              @apply bg-white text-cyan;
            }
          }
        }
        @apply lg:w-[33%] w-full bg-white rounded-[30px] xl:px-8 xl:py-10 px-6 py-6;
        &__heading {
          @apply border-b border-[#ddd] pb-[15px] mb-[30px];
          h4 {
            @apply md:text-3xl text-2xl capitalize font-semibold md:mb-6 mb-2;
          }
          .pricing {
            @apply inline-block bg-transparent md:text-5xl text-4xl leading-[1.4] font-semibold;
            strong {
              @apply md:text-2xl text-lg text-[#aaa] ml-2 -top-[4px] relative font-normal duration-300 transition-all;
            }
          }
          p {
            @apply md:min-h-[73px] xl:min-h-full;
          }
        }
        &__content {
          ul {
            li {
              @apply last:mb-0 mb-3 relative flex gap-2 items-center md:text-[inherit] text-[14px];
              svg path {
                @apply duration-300 transition-all;
              }
            }
          }
          .btn {
            @apply w-full text-center inline-block mt-4 bg-cyan text-white;
          }
        }
      }
    }
  }
  /* Pricing Component Classes Ends */

  /* Reviews Component Classes Starts */
  .reviews {
    @apply bg-white;
    .heading {
      @apply flex md:flex-row md:gap-0 gap-[20px] flex-col;
      align-items: center;
      h2 {
        @apply md:w-[500px] w-full;
      }
      p {
        @apply mr-0 text-[20px];
      }
    }
    .swiper-scrollbar {
      opacity: 1 !important;
      height: 8px !important;
      .swiper-scrollbar-drag {
        @apply bg-cyan;
      }
    }
    &-slider {
      @apply md:mt-[100px] mt-[40px] pb-[80px];
      .swiper-slide {
        &.swiper-slide-active {
          @apply bg-black text-white;
        }
        @apply border border-[#ddd] rounded-[30px] md:px-[40px] px-[20px] md:py-[60px] py-[30px] duration-700 transition-all;
        i {
          @apply inline-block leading-[0] md:mb-6 mb-3;
          img {
            @apply md:w-full w-[30px];
          }
        }
        h5 {
          @apply font-semibold;
        }

        p {
          @apply md:mt-6 md:text-xl mt-3 text-sm;
        }
      }
      &-star {
        @apply flex md:gap-2 gap-2 md:mt-6 mt-4;
        span img {
          @apply md:w-[full] w-[20px];
        }
      }
    }
  }
  /* Reviews Component Classes Ends */

  /* Contact Component Classes Starts */
  .contact {
    @apply relative;
    .heading {
      @apply text-center text-white md:mb-[100px] mb-[50px];
    }
    &-form {
      @apply bg-black-light md:px-[30px] px-[20px] md:py-[50px] py-[30px] rounded-[40px] flex lg:flex-row flex-col md:gap-5 gap-3;
      &-input {
        @apply lg:w-[33.33%] w-full;
        input {
          @apply outline-none md:text-lg text-sm px-[30px] md:py-[15px] py-[10px] rounded-[40px] bg-black-semi text-[#ddd] w-full duration-700 transition-all border border-black-semi;
          &:focus,
          &:hover {
            @apply border border-cyan;
          }
        }
      }
      &-submit {
        @apply lg:w-[20%] w-full;
        input {
          @apply cursor-pointer bg-cyan;
        }
      }
    }
    .message {
      @apply text-white md:text-2xl text-[20px] absolute md:bottom-[30px] bottom-[14px] right-0 left-0 text-center;
    }
  }
  /* Contact Component Classes Ends */

  /* Footer Component Classes Starts */
  .footer {
    @apply pb-[40px];
    &-nav {
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
      @apply flex md:gap-5 lg:gap-y-0 gap-y-10 lg:justify-center justify-start flex-wrap md:py-[80px] py-[40px];
      &-block {
        @apply lg:w-[20%] md:w-[25%] w-[50%] text-white;
        &:nth-child(2n) {
          @apply pl-[10px];
        }
        ul {
          li {
            @apply md:mb-[14px] mb-[3px] last:mb-0 md:text-[16px] text-[12px];
            &:first-child {
              @apply md:text-xl text-[18px] md:mb-[20px] mb-[10px] capitalize;
            }
            a {
              @apply transition-all duration-700;
              &:hover {
                @apply text-cyan;
              }
            }
          }
        }
      }
    }
    &-secondary {
      @apply flex justify-between items-center md:pt-[30px] pt-[15px];
      a {
        @apply inline-block;
        img{
          @apply md:w-full w-[100px] 
        }
      }
      p {
        @apply text-white;
      }
    }
  }
  /* Footer Component Classes Ends */
}
